<a href="https://colab.research.google.com/github/yyhhhhhh/python/blob/main/4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def add(*numbers):
  '''计算多个数的和'''
  print(f'numbers: {numbers}')
  sum = 0
  for i in numbers:
    sum += i
  return sum
print(add(1))
print(add(1,2))
print(add(1,2,3))
print(add(1,2,3,4))

a =[1,2,3,4]
print(add(*a))

numbers: (1,)
1
numbers: (1, 2)
3
numbers: (1, 2, 3)
6
numbers: (1, 2, 3, 4)
10
numbers: (1, 2, 3, 4)
10

In [8]:
def sum(a, b,**kwargs):
  '''计算多个数的和'''
  sum= a + b
  for k, v in kwargs.items():
    sum+= v
  return sum
print(sum(1,2))

k_v ={'x':2,'y':6}
print(sum(1,2,**k_v))
print(sum(1,2,x=2,y=6))

3
11
11

In [10]:
def func(x,y,z=0,*args,**kwargs):
  print(f'x = {x}')
  print(f'y = {y}')
  print(f'z = {z}')
  print(f'args = {args}')
  print(f'kwargs = {kwargs}')
func(1,2)
func(1,2,3)
func(1,2,3,4,5,6)
func(1,2,4,u=6,v=7)
func(1,2,4,5,u=6,v=7)

a = (1,2,3)
b = {'u':6,'v':7}
func(*a,**b)

x = 1
y = 2
z = 0
args = ()
kwargs = {}
x = 1
y = 2
z = 3
args = ()
kwargs = {}
x = 1
y = 2
z = 3
args = (4, 5, 6)
kwargs = {}
x = 1
y = 2
z = 4
args = ()
kwargs = {'u': 6, 'v': 7}
x = 1
y = 2
z = 4
args = (5,)
kwargs = {'u': 6, 'v': 7}
x = 1
y = 2
z = 3
args = ()
kwargs = {'u': 6, 'v': 7}

In [16]:
def add(*food):
  sum = ''
  for i in food:
    sum += i
  return sum

print('顾客里的三明治里有:'+add('肉','生菜'))
print('顾客里的三明治里有:'+add('肉松','生菜'))
print('顾客里的三明治里有:'+add('培根','生菜'))

顾客里的三明治里有:肉生菜
顾客里的三明治里有:肉松生菜
顾客里的三明治里有:培根生菜

In [18]:
def make_car(a,b,**kwargs):
  info = {'manufacturer':a,'model':b}
  for k,v in kwargs.items():
    info[k] = v
  return info

car = make_car('subaru','outback',color='blue',tow_package=True)
print(car)

{'manufacturer': 'subaru', 'model': 'outback', 'color': 'blue', 'tow_package': True}

In [34]:
def mul(a,*args):
  sum = 1
  for i in args:
    sum *= i
  return sum*a

print('mul(5) =', mul(5))
print('mul(5, 6) =', mul(5, 6))
print('mul(5, 6, 7) =', mul(5, 6, 7))
print('mul(5, 6, 7, 9) =', mul(5, 6, 7, 9))
if mul(5) != 5:
    print('测试失败!')
elif mul(5, 6) != 30:
    print('测试失败!')
elif mul(5, 6, 7) != 210:
    print('测试失败!')
elif mul(5, 6, 7, 9) != 1890:
    print('测试失败!')
else:
    try:
        mul()
        print('测试失败!')
    except TypeError:
        print('测试成功!')

mul(5) = 5
mul(5, 6) = 30
mul(5, 6, 7) = 210
mul(5, 6, 7, 9) = 1890
测试成功!

In [35]:
def move(n,a,b,c):
  if n == 1:
    print(a,'-->',c)
  else:
    move(n-1,a,c,b)
    move(1,a,b,c)
    move(n-1,b,a,c)
move(3,'a','b','c')

a --> c
a --> b
c --> b
a --> c
b --> a
b --> c
a --> c

In [39]:
sum=lambda arg1, arg2: arg1 + arg2
print(sum(10,20))

pairs = [(1,'one'),(2,'two'),(3,'three'),(4,'four')]
pairs.sort(key=lambda pair : pair[1])
print(pairs)

print((lambda x: 2 * x)(8))

def make_incrementor(n):
  return lambda x: x + n

func = make_incrementor(42)
print(func(1))

def func(g,arr):
  return [g(x) for x in arr]

arr = func(lambda x: x+1,list(range(1,11)))
print(arr)

30
[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]
16
43
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [43]:
values = list(map(lambda x: x*x,[1,2,3,4]))
print(values)

def func(a,b):
  return a + b

list1 = [4,2,3]
list2 = [5,1,7,8]

result = map(lambda x,y:func(x,y),list1,list2)
print(list(result))

[1, 4, 9, 16]
[9, 3, 10]

In [44]:
letters = list('abdepjisoru')

def filter_non_vowels(letters):
  vowels = ['a','e','i','o','u']
  if letters in vowels:
    return False
  return True

filter_non_vowels = filter(filter_non_vowels,letters)

print('The filtered non-vowels are:')
for non_vowel in filter_non_vowels:
  print(non_vowel,end='')

The filtered non-vowels are:
bdpjsr

In [47]:
from functools import reduce

sum = reduce(lambda a,b: a+b,[23,21,45,98])
print(sum)

f = lambda a,b: a if(a>b) else b
print(reduce(f,[23,21,45,98]))

def fn(x,y):
  return x * 10 + y

DIGITS ={'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}

def char2num(s):
  return DIGITS[s]

def str2int(s):
  return reduce(lambda x,y: x * 10 + y,map(char2num,s))

print(str2int('12345'))

187
98
12345